* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  /* margin: 50px 100px; */
}

.container {
  width: 100%;
  display: flex;
  align-items: self-start;
  column-gap: 20px;
  position: relative;

  & ul {
    position: fixed;
    top: 0;
    width: 20%;
    list-style-type: none;
    background-color: aliceblue;
    overflow: scroll;
    height: 100%;

    & li {
      & a {
        text-align: left;
        padding: 20px 40px;
        display: block;
        color: black;
        border: 0.1px solid rgb(231, 231, 231);
        text-decoration-line: none;
        background-color: rgb(248, 248, 248);
        -moz-text-decoration-line: none;

        &:hover:not(.active) {
          background-color: #555;
          color: white;
        }

        &.active {
          background-color: #04aa6d;
          color: white;
        }
      }
    }
  }

  .content-section {
    margin-left: 20%;
    padding-left: 30px;
  }
}
