:root {
  --green: #21ba45;
  --black: black;
  --white: white;
  --heading-color: #0f2b3c;
  --text-color: #090c10;
  --border: #cfd0d3;
  --unit-size: 65.5%;
  --bg-primary: rgba(128, 185, 142, 0.08);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  margin: 50px 100px;
  background-color: aliceblue;
  font-size: var(--unit-size);
}

.course-section {
  background-color: var(--white);
  padding: 50px;

  .course-heading {
    color: var(--black);
    font-size: 1.4rem;
  }

  /* courses lists */

  .course-lists {
    margin-top: 26px;
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    grid-template-rows: repeat(1, 1fr);
    grid-auto-rows: 1fr;
    gap: 30px;

    /* courses list */

    & .course-list {
      border: 0.5px solid var(--border);
      position: relative;

      .course-list-img {
        width: 100%;
        height: 150px;
      }

      .course-list-details {
        padding: 15px 10px 70px 10px;

        .course-view {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .course-view-graph,
          .course-view-rating {
            display: flex;
            align-items: center;
          }

          .course-view-graph {
            & p {
              color: var(--text-color);
            }
          }

          .course-view-rating {
            border: 0.5px solid var(--border);
            padding: 2px 4px;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
          }
        }

        .course-list-heading {
          color: var(--heading-color);
          font-weight: 400;
          margin: 20px 0;
        }

        .course-list-level {
          display: flex;
          align-items: center;
          column-gap: 2px;

          & p {
            color: var(--text-color);
          }
        }
      }
    }

    .course-list-info {
      width: 100%;
      position: absolute;
      bottom: 0;
      background-color: white;
      padding: 10px 10px 20px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 1;
      box-shadow: 0 -7px 6px rgb(245, 245, 245);

      .course-list-price {
        display: flex;
        column-gap: 20px;
        align-items: center;

        .course-list-totalPrice {
          color: var(--black);
          font-size: 1.1rem;
        }
        .course-list-price-discount {
          color: var(--black);
          font-size: 0.9rem;
          opacity: 0.6;
          text-decoration: line-through;
        }
      }

      & button {
        border: 1px solid var(--green);
        padding: 5px 10px;
        font-size: 0.7rem;
        cursor: pointer;
      }
    }
  }
}

@media (width <= 900px) {
  body {
    margin: 5px 5px;
  }

  .course-section {
    padding: 5px;

    .course-lists {
      grid-template-columns: repeat(1, minmax(250px, 1fr));
    }
  }
}

@media (width <= 37.5em) {
  body {
    margin: 5px 5px;
  }

  .course-section {
    padding: 5px;

    .course-lists {
      grid-template-columns: repeat(1, minmax(250px, 1fr));

      .course-list {
        flex-grow: 1;
      }
    }
  }
}
