.heading {
  color: black;
}

.para {
  font-size: 20px;
}

/* 
.spacious {
    color: blue;
}

.elegant {
    font-size: larger;
} */

li.spacious {
  color: red;
}

li.elegant.spacious {
  color: brown;
}
