* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Urbanist", sans-serif;
  margin: 50px 100px;
}

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 80px 200px 200px 80px;
  gap: 20px;

  & nav,
  footer,
  artical {
    background-color: #d7d49b;
  }

  & section,
  aside {
    background-color: #e9b0b0;
  }

  & nav,
  footer {
    grid-column: 1/-1;
  }

  & aside {
    grid-row: 2 / span 2;
  }

  & section {
    grid-column: 2/-1;
  }
}
