/* li a[title] {
  background-color: red;
}

a[title="flower"] {
  color: green;
}

input[type="button"] {
  background-color: yellow;
}

a[class~="flower"] {
  background-color: rgb(181, 26, 77);
}

a[class|="top"] {
  font-size: 2rem;
} */

a[class^="top"] {
  color: brown;
}

a[class*="tact"] {
  background-color: red;
}
