* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  margin: 10px 10px;
}

div {
  block-size: fit-content(10em);
  background-color: rgb(124, 158, 205);
  /* writing-mode: horizontal-tb;
  -webkit-writing-mode: horizontal-tb;
  -ms-writing-mode: horizontal-tb; */
}
