* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.image {
  margin: 50px 200px;

  & img {
    height: 400px;
    width: auto;
    filter: drop-shadow(3px 3px 5px rgb(255, 180, 180));
    -webkit-filter: drop-shadow(3px 3px 5px rgb(255, 180, 180));
  }
}
