* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Urbanist", sans-serif;
  height: 100vh;
  display: grid;
  place-items: center;
}

.container {
  width: 25vw;
  aspect-ratio: 1;
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container div {
  width: 100px;
  aspect-ratio: 1;
  box-shadow: -2px 2px 3px 0px rgb(199, 199, 199);
  background-color: white;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  transition: scale 0.5s ease;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  -webkit-transition: scale 0.5s ease;
  -moz-transition: scale 0.5s ease;
  -ms-transition: scale 0.5s ease;
  -o-transition: scale 0.5s ease;

  &:hover {
    scale: 1.1;
  }
}
