html {
  font-size: 65.5%;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.3px;
  word-spacing: 0.3px;
  line-height: 1.5;
}

h1 {
  font-family: "Urbanist", sans-serif;
  font-size: 2.2rem;
}

p,
ul,
span {
  font-size: 1.3rem;
}

button {
  padding: 1rem 2rem;
  font-size: 1.3rem;
  font-weight: 500;
}

.container {
  margin: 50px 100px;
}

.heading {
  text-align: justify;
  text-shadow: 3px 3px 5px rgb(196, 254, 255);
}

input[type="text"] {
  margin-top: 2rem;
  border-style: solid;
  border-color: blue;
  direction: ltr;
  text-align: left;
  text-indent: 5px;
}

.code span {
  vertical-align: super;
}

a {
  font-size: 1.2rem;
  text-decoration-line: underline;
  text-decoration-color: blue;
  text-decoration-thickness: 1px;
  text-decoration-style: solid;
  -moz-text-decoration-line: underline;
  -moz-text-decoration-color: blue;
  -moz-text-decoration-style: solid;
}

.para1 {
  padding: 1rem;
  border: 1px solid blue;
  border-radius: 10px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  text-size-adjust: 100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.para1:hover {
  overflow-x: visible;
  white-space: inherit;
}

.para1::first-letter {
  font-size: 1.8rem;
  font-weight: 800;
}

.content p {
  font-size: 1.3rem;
  margin-top: 20px;
  width: 550px;
  height: 50px;
  padding: 1rem;
  border: 1px solid rgb(89, 47, 255);
  /*overflow-wrap: break-word;*/
  word-break: break-word;
  border-radius: 5px;
  overflow-x: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.para2 {
  line-break: anywhere;
}

.tab {
  border: 1px solid black;
  background-color: red;
}
