@import url("./component.css");

body {
  background-color: rgba(23, 44, 100, 0.3);
}

h2 {
  color: red;
}

h2 {
  color: blue;
}

:where(a.author) {
  color: red;
}

@layer site {
  h1 {
    text-decoration: underline;
    color: green;
  }
}

@layer page {
  h1 {
    text-decoration: overline;
    color: red;
  }
}

/* this does nothing */
@layer page,site;
