:root {
  --heading-color: rgb(171, 35, 35);
  --text-color: rgb(70, 70, 70);
  --bg-primary: rgb(130, 181, 225);
  --unit-size: 100%; /* 1rem = 10px  */
  --radius: 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  margin: 50px 100px;
  font-size: var(--unit-size);
}

h1,
h4 {
  color: var(--heading-color);
  font-size: 1.4rem;
}

p,
h4,
ul {
  margin-top: 20px;
}

p {
  --color: rgb(137, 137, 137);
  color: var(--color);
}

li {
  color: var(--text-color);
}

ul {
  list-style-type: none;
  background-color: var(--bg-primary);
  padding: 20px;
  border-radius: calc(var(--radius) + 10px);
  -webkit-border-radius: calc(var(--radius) + 10px);
  -moz-border-radius: calc(var(--radius) + 10px);
  -ms-border-radius: calc(var(--radius) + 10px);
  -o-border-radius: calc(var(--radius) + 10px);
}
