* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Urbanist", sans-serif;
  font-family: 500;
  padding: 8px 40px;
  letter-spacing: 2px;
  word-spacing: 2px;
  background-color: aliceblue;
}

.grid-container {
  width: 1200px;
  /* height: 700px; */
  background-color: rgb(0, 0, 0);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 200px);
  grid-auto-rows: 200px;
  gap: 20px;
}

.grid-container .item {
  color: white;
  font-size: 1.1rem;
  text-transform: capitalize;
  border: 1px solid black;
}

.grid-container #subgrid {
  grid-column: 1 / 4;
  grid-row: 2 / 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.grid-container .item:nth-child(even) {
  background: linear-gradient(to left, red, blue);
}

.grid-container .item:nth-child(odd) {
  background: linear-gradient(to left, rgb(101, 185, 140), blue);
}
