* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Urbanist", sans-serif;
  font-family: 500;
  padding: 100px;
  letter-spacing: 2px;
  word-spacing: 2px;
  background-color: aliceblue;
}

.grid-container {
  width: 1200px;
  background-color: rgb(0, 0, 0);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 200px);
  gap: 20px;
  grid-auto-flow: row;
  grid-auto-rows: 200px;
  grid-auto-columns: 1fr;
}

.grid-container .item {
  color: white;
  font-size: 1.1rem;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container .item:nth-child(even) {
  background: linear-gradient(to left, red, blue);
}

.grid-container .item:nth-child(odd) {
  background: linear-gradient(to left, rgb(101, 185, 140), blue);
}

.item-1 {
  /* grid-column-start: 3;
  grid-column-end: 4; */

  /* grid-column: 3/4; */
}

.item-3 {
  /* grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2; */

  /* grid-column: 1/2;
  grid-row: 1/2; */

  /* grid-area: 1/1/2/2; */
}

.item-2 {
  /* grid-column: 2/3;
  grid-row: 1/2; */

  /* grid-area: 1/2/2/3; */
}

.item-4 {
  /* grid-row: 2/3; */

  grid-column: 1 / -1;
  /* grid-column: 1 / span 2; */
}
