@font-face {
  font-family: __Urbanist_44ewq;
  src: url("../utils/fonts/Urbanist-Regular.ttf") format("TrueType");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  line-gap-override: 20%;
}

@font-face {
  font-family: __Urbanist_44ewq;
  src: url("../utils/fonts/Urbanist-SemiBold.ttf") format("TrueType");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: __Urbanist_44ewq;
  src: url("../utils/fonts/Urbanist-MediumItalic.ttf") format("TrueType");
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: __Urbanist_Fallback_44ewq;
  src: local("Arial");
  size-adjust: 99.9%;
  line-gap-override: 30%;
  font-feature-settings: "smcp" 1;
  -webkit-font-feature-settings: "smcp" 1;
  -moz-font-feature-settings: "smcp" 1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: __Urbanist_44ew, __Urbanist_Fallback_44ewq;
}

body {
  margin: 2rem;
  font-weight: 500;
}

/* 
body {

  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.56;
  font-variant-caps: normal;
  font-variant-ligatures: historical-ligatures;
  font-variant-numeric: slashed-zero;
  font-variation-settings: "wght" 850;
  font-kerning: none;
} */
