* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Urbanist", sans-serif;
  margin: 10px 10px;
  letter-spacing: 1px;
  word-spacing: 1px;
}

.table-container {
  width: 50%;
  padding: 0px;
  margin: 50px auto;
  max-height: 528px;
  box-shadow: 3px 3px 4px rgb(227, 227, 227), -3px -3px 4px rgb(227, 227, 227);
  border-radius: 8px;
  overflow-x: scroll;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  position: sticky;
  top: 0;
  background-color: black;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
}

tr {
  border-bottom: 1px solid #cbcbcb;
  cursor: pointer;
}

tbody tr:hover {
  background-color: #efefef;
}

th {
  color: aliceblue;
  font-size: 1.05rem;
}

td {
  height: 50px;
  font-size: 0.9rem;
  font-weight: 400;
}

th,
td {
  padding: 20px;
  text-align: center;
}

button {
  padding: 5px 10px;
  background-color: black;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.right {
  text-align: right;
}
