html {
  font-size: 65.5%;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.3px;
  word-spacing: 0.3px;
  line-height: 1.5;
  height: 100vh;
  background-color: red;
}

h1 {
  font-family: "Urbanist", sans-serif;
  font-size: 2.2rem;
}

p,
ul,
span {
  font-size: 1.3rem;
}

.container {
  height: 100px;
  width: 400px;
  background-color: black;
  margin: 0 auto;
  border: 1px solid blue;
}

p {
  margin: 8px 50px;
  color: white;
  background-color: blueviolet;
}
