* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  margin: 200px;
}

.box {
  background-color: red;
  width: 100px;
  height: 100px;
  translate: 0vw 0;
  animation: side 3s ease 0ms 3 alternate forwards running;
  animation-composition: add;
  -webkit-animation: side 3s ease 0ms 3 alternate forwards running;
}

@keyframes side {
  0% {
    translate: 0vw 0;
  }

  100% {
    translate: 60vw 0;
  }
}
