:root {
  --heading-color: rgb(171, 35, 35);
  --text-color: rgb(70, 70, 70);
  --unit-size: 65.5%; /* 1rem = 10px  */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  margin: 50px 100px;
  font-size: var(--unit-size);
}

h1,
h4 {
  color: var(--heading-color);
  font-size: 1.4rem;
}

p,
h4,
ul {
  margin-top: 20px;
}

p {
  --color: blue;
  color: var(--color);
}

li {
  color: var(--text-color);
}

ul {
  list-style-type: none;
}
