/* ==============================================
Theme Rules
============================================== */

:root {
  --body-bg-color: white;
  --main-color: #0062ff;
  --supporting-color: #ebf3fe;
  --font-color: #424242;
  --bg-color: #f7fcff;
  --bg-primary-clr: linear-gradient(
    to top right,
    #3d86fa,
    #4484fb,
    #679eff,
    #b3d2ff,
    #ebf3fe
  );
  --bg-seconday-clr: linear-gradient(to right, #0575e6, #021b79);
  --heading-color: #000a19;
  --para-color: #504e4d;
  --test: #070101;
  --white-color: #ffffff;
  --footer-bg-color: #040d12;
  --hero-heading-color: #003b99;
  --btn-bg-primary: #0062ff;
  --btn-hover-bg-color: #003b99;
  --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* ==============================================
Base Rules
============================================== */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  background-color: var(--body-bg-color);
  font-family: "Urbanist", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration-line: none;
  -moz-text-decoration-line: none;
}

p,
a,
li {
  letter-spacing: 0.1rem;
  color: var(--para-color);
  font-size: 1.55rem;
  line-height: 1.5;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

table {
  width: 100%;
}

/* ==============================================
Layout Rule
============================================== */

.container {
  margin: 0 auto;
  max-width: 1300px;
  padding: 7rem 2.4rem;
}

.grid {
  display: grid;
}

.grid-two--cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three--cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four--cols {
  grid-template-columns: repeat(4, 1fr);
}

:is(
    .about-section,
    .courses-section,
    .why-choose-eduHub,
    .contact-home--section
  )
  .container:nth-child(1) {
  padding: 3rem 2.4rem;
}

/* ==============================================
Module Rule
============================================== */

.btn {
  text-transform: capitalize;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1.8rem 4rem;
  border-radius: 0.8rem;
  letter-spacing: 0.05rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
}

.btn-primary {
  color: var(--white-color);
  background-color: var(--btn-bg-primary);
}

.section-common--heading {
  font-size: 2.8rem;
  color: var(--test);
}

.section-common--subheading {
  font-size: 1.6rem;
  padding-top: 0.8rem;
  font-weight: 500;
}

.section-common--title {
  font-size: 1.8rem;
  padding: 1.8rem 0;
}

/* ==============================================
Header Section
============================================== */

.navbar-section .container {
  padding: 1rem 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  gap: 2rem;
}

.navbar-section .brand-logo img {
  max-width: 90%;
  height: auto;
}

.navbar .nav-link {
  font-size: 1.65rem;
  font-weight: 700;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    border-bottom: 2px solid var(--main-color);
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
  }

  &:hover::after {
    width: 100%;
  }
}

/* ==============================================
Hero Section
============================================== */

.hero-section {
  position: relative;
  background-image: var(--bg-primary-clr);

  & .custom-shape-divider-bottom-1705160814 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  & .custom-shape-divider-bottom-1705160814 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 90px;
    transform: rotateY(180deg);
  }

  & .custom-shape-divider-bottom-1705160814 .shape-fill {
    fill: #ffffff;
  }

  & .grid {
    align-items: center;
  }

  & .hero-section--subheading {
    letter-spacing: 0.2rem;
    font-size: 1.4rem;
    word-spacing: 0.2rem;
    color: var(--btn-hover-bg-color);
    font-weight: 700;
  }

  & .hero-section-para {
    color: var(--white-color);
    line-height: 1.56;
    padding: 2.5rem 0 5rem 0;
  }

  & .hero-section--heading {
    font-size: 5rem;
    color: var(--hero-heading-color);
    font-weight: 900;
    line-height: 1.5;
  }

  & .hero-section--image img {
    max-width: 95%;
    height: auto;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
  }

  & .hero-section--image {
    animation: fadeUp 0.3s linear;
    -webkit-animation: fadeUp 0.3s linear;
  }
}

@keyframes fadeUp {
  from {
    translate: 0 150px;
    opacity: 0;
  }

  to {
    translate: 0 0px;
    opacity: 1;
  }
}

/* ==============================================
About Section
============================================== */

.about-section {
  & .grid {
    gap: 2rem;
  }

  & .about-card {
    text-align: center;

    & img {
      max-width: 100%;
      padding: 2rem;
      height: 10rem;
      border-radius: 50%;
      cursor: pointer;
      transition: rotate 0.4s linear;
      background-color: var(--supporting-color);
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      -webkit-transition: rotate 0.4s linear;
      -moz-transition: rotate 0.4s linear;
      -ms-transition: rotate 0.4s linear;
      -o-transition: rotate 0.4s linear;
    }

    & img:hover {
      background: var(--bg-seconday-clr);
      rotate: 360deg;
    }
  }
}

/* ==============================================
Courses Section
============================================== */

.courses-section {
  background-color: var(--bg-color);

  .grid {
    gap: 3rem;
  }

  & .course-card {
    padding: 2rem;
    text-align: center;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;

    & .fa-solid,
    .fa-brands {
      font-size: 3rem;
      padding: 3rem;
      color: var(--hero-heading-color);
      background-color: var(--supporting-color);
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
    }
  }

  & .course-card:hover {
    cursor: pointer;
    box-shadow: var(--btn-box-shadow);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
}

/* ==============================================
why-choose-eduHub
============================================== */

.why-choose-eduHub {
  & .grid {
    gap: 5rem;
  }

  & .text-align--right {
    text-align: right;

    & .why-choose--card {
      display: flex;
      flex-direction: column;
      align-items: end;
    }
  }

  & .why-choose--card {
    margin-top: 3.5rem;

    & .common-text--highlight {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      color: var(--main-color);
      font-size: 2.3rem;
      background-color: var(--supporting-color);
      width: 5rem;
      height: 5rem;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
    }
  }

  & .why-choose-center {
    display: flex;
    justify-content: center;
    align-items: center;

    & figure {
      display: flex;
      justify-content: center;
      align-items: center;

      & img {
        max-width: 90%;
        height: auto;
      }
    }
  }
}

/* ==============================================
Conatc Home Section
============================================== */

.contact-home--section {
  & .container {
    width: 78%;
    margin-bottom: 3rem;
    box-shadow: var(--btn-box-shadow);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  & .grid {
    align-items: center;
  }

  & .contact-home--content {
    & p {
      padding: 1.5rem 0 3rem 0;
    }
  }

  & .contact-home--image img {
    max-width: 80%;
    height: auto;
  }
}

/* ==============================================
Footer Section
============================================== */

footer {
  background-color: var(--footer-bg-color);
}

footer * {
  color: var(--white-color);
}

footer {
  & .footer-portion--one {
    & .brand-logo {
      font-size: 2rem;
    }

    & p {
      padding: 1.5rem 0 2.5rem 0;
    }

    & .socials-icons {
      display: flex;
      gap: 1rem;
    }

    & .socials-icons a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.2rem;
      background-color: var(--bg-color);
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }

    & .socials-icons a i {
      font-size: 1.8rem;
      color: var(--btn-hover-bg-color);
    }
  }

  & .footer-portion {
    display: grid;
    justify-content: end;

    & .footer-subheading {
      font-size: 1.6rem;
      font-weight: 600;
    }
  }
}

/* ==============================================
Media Query
============================================== */

@media (width <= 992px) {
  html {
    font-size: 56.25%;
  }

  .hero-section {
    & .custom-shape-divider-bottom-1705160814 svg {
      height: 50px;
    }
  }

  .about-section {
    & .grid-three--cols {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }

  .courses-section {
    & .grid-four--cols {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }

  .why-choose-eduHub {
    & .grid {
      gap: 3rem;
    }

    & .why-choose-left {
      order: 2;
    }
    & .why-choose-center {
      order: 1;
    }

    & .why-choose-right {
      order: 3;
    }
  }

  .contact-home--section {
    & .container {
      width: 95%;
    }
  }
}

@media (width <= 768px) {
  .hero-section {
    & .hero-section--content {
      text-align: center;
    }

    & .grid-two--cols {
      grid-template-columns: 1fr;
    }

    & .hero-section--heading {
      text-align: center;
      font-size: 4rem;
    }

    & .hero-section--image figure {
      display: flex;
      justify-content: center;
    }

    & .hero-section--image img {
      max-width: 60%;
    }
  }

  .why-choose-eduHub {
    & .grid {
      gap: 0rem;
    }

    & .grid-three--cols {
      grid-template-columns: 1fr;
    }

    & .text-align--right {
      text-align: left;

      & .why-choose--card {
        align-items: flex-start;
      }
    }
    & .why-choose--card {
      margin-top: 2rem;
    }
  }

  .contact-home--section {
    & .grid {
      gap: 3rem;
    }

    & .grid-two--cols {
      grid-template-columns: 1fr;
    }

    & .contact-home--image {
      display: flex;
      justify-content: center;
    }

    & .contact-home--image img {
      max-width: 60%;
    }
  }
}

@media (width <= 600px) {
  .container {
    margin: 0 auto;
    max-width: 1300px;
    padding: 4rem 2rem;
  }

  .navbar-section .container {
    flex-direction: column;
  }

  .navbar ul {
    display: flex;
    gap: 1rem;
  }

  .navbar-section .brand-logo img {
    max-width: 70%;
  }

  footer {
    & .grid {
      gap: 4rem;
    }

    & .footer-portion {
      display: grid;
      justify-content: center;
    }

    & .footer-portion--one {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    & .grid-four--cols {
      grid-template-columns: repeat(3, 1fr);
    }

    & .footer-portion--one {
      grid-area: 1/1/2/-1;
    }
  }
}
