* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.main-section {
  position: fixed;
  top: 0;
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgb(13, 22, 103),
    rgb(64, 7, 162)
  );
  z-index: 1;

  & h3 {
    color: white;
    text-align: center;
    line-height: 5;
  }
}

.full-section {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgb(199, 102, 38),
    rgb(173, 63, 63)
  );
  border: 1px solid black;
}

.full-section a {
  display: inline-block;
  padding: 10px;
  background-color: white;
  text-decoration: none;
  color: black;
  margin: 10px;
  position: sticky;
  top: 50%;
}

.full-section:nth-child(even) {
  background-image: linear-gradient(
    to right,
    rgb(99, 99, 168),
    rgb(171, 78, 78)
  );
}
