/* ==========================================================
Theme Rules
========================================================== */

:root {
  --main-color: #0062ff;
  --supporting-color: #ebf3fe;
  --font-color: #424242;
  --bg-color: #ffffff;
  --heading-color: #000a19;
  --para-color: #504e4d;
  --test: #070101;
  --white-color: #ffffff;
  --hero-heading-color: #003b99;
  --btn-hover-bg-color: #003b99;
  --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* ==========================================================
Base Rules
========================================================== */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

html {
  font-size: 65.5%; /* 1rem = 10px  */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

p,
a,
li {
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: var(--para-color);
  font-size: 1.55rem;
  line-height: 1.5;
}

table {
  width: 100%;
}

button {
  border: none;
  outline: none;
}

/* ==========================================================
Layout Rules
========================================================== */

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 6rem 2.4rem;
}

.grid {
  display: grid;
}

.grid-two--cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three--cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four--cols {
  grid-template-columns: repeat(4, 1fr);
}

/* ==========================================================
Module / Reusable Rules
========================================================== */

.btn {
  display: inline-block;
  color: var(--white-color);
  padding: 1.2rem 3.2rem;
  background-color: var(--main-color);
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
}

.section-common--heading {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: capitalize;
}

.section-common--subheading {
  color: var(--heading-color);
}

.section-common--title {
  font-size: 1.7rem;
  margin: 3rem 0 1.5rem 0;
}

/* ==========================================================
States Rules
========================================================== */

.btn:hover {
  background-color: var(--btn-hover-bg-color);
  cursor: pointer;
  box-shadow: var(--btn-box-shadow);
}

.fa-brands,
.fa-solid {
  padding: 2rem;
  font-size: 3rem;
  color: var(--hero-heading-color);
  background-color: var(--supporting-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* ==========================================================
Navbar Section
========================================================== */

.navbar-section {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.navbar-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.4rem;
}

.navbar-section .navbar ul {
  display: flex;
  gap: 3rem;

  & li a {
    color: var(--heading-color);
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: capitalize;
    display: inline-block;
    position: relative;
    text-align: center;

    &::after {
      content: "";
      position: absolute;
      bottom: -0.3rem;
      left: 0;
      width: 0%;
      border-bottom: 0.2rem solid var(--main-color);
      transition: all 0.3s linear;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
    }
  }
  & li a:hover::after {
    width: 100%;
  }
}

/* ==========================================================
Hero Section
========================================================== */

main {
  position: relative;
  background-image: linear-gradient(
    to top right,
    #3d86fa,
    #4484fb,
    #679eff,
    #b3d2ff,
    #ebf3fe
  );

  & .custom-shape-divider-bottom-1704435580 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  & .custom-shape-divider-bottom-1704435580 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 99px;
  }

  & .custom-shape-divider-bottom-1704435580 .shape-fill {
    fill: #ffffff;
  }
}

.hero-section .grid {
  align-items: center;
  gap: 6.4rem;
}

.hero-section {
  & .hero-subheading {
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    word-spacing: 0.2rem;
    color: var(--btn-hover-bg-color);
    font-weight: 700;
  }

  & .hero-heading {
    font-size: 5rem;
    color: var(--hero-heading-color);
    font-weight: 900;
    line-height: 1.5;
  }

  & .hero-para {
    color: var(--white-color);
    margin: 2rem 0 4rem 0;
    line-height: 1.5;
  }

  & .hero-section--image img {
    max-width: 100%;
    height: auto;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
  }
}

/* ==========================================================
About Section
========================================================== */

.about-section {
  .grid {
    gap: 20px;
  }

  & .about-card {
    text-align: center;
    border-radius: 8px;
    padding: 2rem;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;

    & img {
      width: 10rem;
      height: auto;
      padding: 2rem;
      background-color: var(--supporting-color);
      border-radius: 50%;
      transition: rotate 0.5s linear;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      -webkit-transition: rotate 0.5s linear;
      -moz-transition: rotate 0.5s linear;
      -ms-transition: rotate 0.5s linear;
      -o-transition: rotate 0.5s linear;

      &:hover {
        cursor: pointer;
        rotate: 360deg;
        background: linear-gradient(to right, #0575e6, #021b79);
      }
    }
  }
}

/* ==========================================================
Course Section
========================================================== */

.course-section .grid {
  gap: 4rem;
}

.course-section .course-card {
  text-align: center;
  padding: 2rem;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.course-section .course-card:hover {
  cursor: pointer;
  box-shadow: var(--btn-box-shadow);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
