/* ==========================================================
Theme Rules
========================================================== */

:root {
  --main-color: #0062ff;
  --supporting-color: #ebf3fe;
  --font-color: #424242;
  --bg-color: #ffffff;
  --heading-color: #000a19;
  --para-color: #504e4d;
}
