* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Urbanist", sans-serif;
}

.container {
  width: 1000px;
  height: 100vh;
  margin: 75px auto;
}

.cube {
  width: 120px;
  height: 120px;
  position: relative;
  transform-style: preserve-3d;
  perspective: 200px;
  perspective-origin: center;
}

.face {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 60px;
  color: white;
  position: absolute;
  transform-origin: center;
  backface-visibility: visible;
  -webkit-backface-visibility: visible;
}

.front {
  background: rgba(150, 16, 16, 0.3);
  transform: translateZ(60px);
  -webkit-transform: translateZ(60px);
  -moz-transform: translateZ(60px);
  -ms-transform: translateZ(60px);
  -o-transform: translateZ(60px);
}

.back {
  background: rgba(0, 255, 0, 1);
  transform: translateZ(-50px);
  -webkit-transform: translateZ(-50px);
  -moz-transform: translateZ(-50px);
  -ms-transform: translateZ(-50px);
  -o-transform: translateZ(-50px);
}

.right {
  background: rgba(196, 0, 0, 0.7);
  transform: rotateY(90deg) translateZ(60px);
  -webkit-transform: rotateY(90deg) translateZ(60px);
  -moz-transform: rotateY(90deg) translateZ(60px);
  -ms-transform: rotateY(90deg) translateZ(60px);
  -o-transform: rotateY(90deg) translateZ(60px);
}

.left {
  background: rgba(0, 0, 196, 0.7);
  transform: rotateY(-90deg) translateZ(60px);
  -webkit-transform: rotateY(-90deg) translateZ(60px);
  -moz-transform: rotateY(-90deg) translateZ(60px);
  -ms-transform: rotateY(-90deg) translateZ(60px);
  -o-transform: rotateY(-90deg) translateZ(60px);
}

.top {
  background: rgba(196, 196, 0, 0.7);
  transform: rotateX(90deg) translateZ(60px);
  -webkit-transform: rotateX(90deg) translateZ(60px);
  -moz-transform: rotateX(90deg) translateZ(60px);
  -ms-transform: rotateX(90deg) translateZ(60px);
  -o-transform: rotateX(90deg) translateZ(60px);
}

.bottom {
  background: rgba(196, 0, 196, 0.7);
  transform: rotateX(-90deg) translateZ(60px);
  -webkit-transform: rotateX(-90deg) translateZ(60px);
  -moz-transform: rotateX(-90deg) translateZ(60px);
  -ms-transform: rotateX(-90deg) translateZ(60px);
  -o-transform: rotateX(-90deg) translateZ(60px);
}
